@model AppFile

<form asp-action="upload" asp-controller="Converter" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-6">انتخاب فایل</div>
		<div class="col-md-6">
			<input type="file" id="uploadFile" name="UploadFile" />

		</div>
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">آپلود</button>
		</div>
	</div>

</form>

@using System.IO;
@{var file = File.ReadAllText($"ChangedHTML.html");}
<textarea style="height:60vh; width:100vh; resize:horizontal;">
	@Html.Raw(file)
</textarea>
<div>
	@Html.Raw(file)
</div>



